@charset 'utf-8';

/*
* @Author: askMeWhy
* @Date:   2017-10-19 18:26:12
* @Last Modified by:   smile
* @Last Modified time: 2017-12-29 11:27:48
*/

.ask-template {
	display: none !important;
}


/* modal弹框样式 */

.ask-modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
}

.ask-overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .3);
}

.ask-modal-box {
	font-size: 1.6rem;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 370px;
	min-height: 80px;
	padding: 8px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: #333;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.ask-modal .ask-modal-box {
	-webkit-animation: ask-modal-enter .5s cubic-bezier(.4, 0, 0, 1.5) forwards;
	animation: ask-modal-enter .5s cubic-bezier(.4, 0, 0, 1.5) forwards;
	will-change: transform;
}

@-webkit-keyframes ask-modal-enter {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		opacity: 1;
	}
}

@keyframes ask-modal-enter {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		opacity: 1;
	}
}

.ask-modal .ask-modal-box.leave {
	-webkit-animation: ask-modal-leave .5s both;
	animation: ask-modal-leave .5s both;
	will-change: transform;
}

@-webkit-keyframes ask-modal-leave {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		opacity: 1;
	}
	60% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
	}
	to {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 1, .1);
		transform: translate3d(-50%, -50%, 0) scale3d(0, 1, .1);
		opacity: 0;
	}
}

@keyframes ask-modal-leave {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
		opacity: 1;
	}
	60% {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
		transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
	}
	to {
		-webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 1, .1);
		transform: translate3d(-50%, -50%, 0) scale3d(0, 1, .1);
		opacity: 0;
	}
}


/* toast弹框样式 */

.ask-toast-box {
	position: fixed;
	z-index: 300000000;
	top: 5%;
	left: 7%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	pointer-events: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ask-toast-box.top-left {
	top: 5%;
	right: auto;
	bottom: auto;
	left: 7%;
}

.ask-toast-box.top-center {
	top: 5%;
	right: auto;
	bottom: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.ask-toast-box.top-right {
	top: 5%;
	right: 7%;
	bottom: auto;
	left: auto;
}

.ask-toast-box.bottom-left {
	top: auto;
	right: auto;
	bottom: 5%;
	left: 7%;
}

.ask-toast-box.bottom-center {
	top: auto;
	right: auto;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.ask-toast-box.bottom-right {
	top: auto;
	right: 7%;
	bottom: 5%;
	left: auto;
}

.ask-toast-box .ask-toast-message {
	font-size: 1.6rem;
	margin-top: 10px;
	padding: 8px 12px;
	-webkit-transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1), -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	pointer-events: auto;
	color: #fff;
	border-radius: 2px;
	background-color: #353535;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.ask-toast-box.spread {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ask-toast-box.spread .ask-toast-message.ask-toast-theme-spread {
	font-size: 1.4rem;
	padding: 20px 30px;
	color: #d24005;
	border-radius: 4px;
	background-color: #fff;
}

.ask-select-modal {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.ask-select-modal .ask-select-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: auto;
	background: rgba(0, 0, 0, .3);
}

.ask-select-modal .ask-select-box {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-animation: ask-select-enter .5s ease-in forwards;
	animation: ask-select-enter .5s ease-in forwards;
	pointer-events: auto;
	background: #fff;
	will-change: transform;
}

.ask-select-modal .ask-select-box.leave {
	-webkit-animation: ask-select-leave .5s ease-out forwards;
	animation: ask-select-leave .5s ease-out forwards;
	will-change: transform;
}

@-webkit-keyframes ask-select-enter {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes ask-select-enter {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes ask-select-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes ask-select-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

.ask-select-modal .as-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 12px 0;
	border: 1px solid #e4e4e4;
	border-right: none;
	border-left: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ask-select-modal .as-close, .ask-select-modal .as-sure {
	font-size: 16px;
	overflow: hidden;
	width: 60px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #2196f3;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60px;
	flex: 0 0 60px;
}

.ask-select-modal .as-title {
	font-size: 16px;
	overflow: hidden;
	width: calc(100% - 60px - 60px);
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.ask-select-modal .as-body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 200px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ask-select-modal .as-body .chose-line {
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 0;
	left: 0;
	width: 100%;
	height: 40px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	pointer-events: none;
	border: 1px solid #e4e4e4;
	border-right: none;
	border-left: none;
}

.ask-select-modal .as-body .as-option {
	overflow: hidden;
	width: 33%;
	height: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33%;
	flex: 0 0 33%;
}

.ask-select-modal .as-body .as-option::-webkit-scrollbar {
	display: none;
}

.ask-select-modal .as-body .list {
	font-size: 16px;
	line-height: 2.5;
	width: 100%;
	text-align: center;
	color: #333;
}

.ask-select-modal .as-body .list>li {
	font: inherit;
	overflow: hidden;
	height: 40px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
}

.picker-container, .picker-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}

.picker-container {
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	color: #333;
	background: #fff;
}

.modal-open .picker-container {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.picker-container .picker-wrapper, .picker-tool {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	background: #fff;
}

.picker-container .picker-wrapper {
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.picker-tool {
	padding-top: 10px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}

.picker-slide {
	width: 33.333%;
	height: 100%;
}

.picker-slide:first-child {
	padding-left: 5px;
}

.picker-slide:nth-child(3) {
	padding-right: 5px;
}

.picker-slide:nth-child(2) {
	padding: 0 5px;
}

.picker-wrapper .picker-slide .item-box {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin-top: 6px;
	text-align: center;
	border-radius: 5px;
}

.picker-wrapper .item-box .item-list .item {
	font-size: 16px;
	line-height: 2.5;
	overflow: hidden;
	height: 40px;
	padding: 0 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item-box>.item-list, .picker-overlay, .picker-modal-overlap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.item-box>.item-list {
	z-index: 2;
	-webkit-transition-timing-function: cubic-bezier(.1, .57, .1, 1);
	transition-timing-function: cubic-bezier(.1, .57, .1, 1);
	-webkit-transition-duration: 0ms;
	transition-duration: 0ms;
	-webkit-transform: transalte(0px, 0px);
	transform: translate(0px, 0px);
}

.picker-overlay {
	z-index: 3;
	height: 100%;
}

.picker-line {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	pointer-events: none;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.picker-title {
	font-size: 16px;
	line-height: 2.5;
	height: 40px;
	text-align: center;
	color: #333;
}

.picker-tool .picker-button {
	position: relative;
	width: 50%;
}

.picker-tool .picker-button span {
	font-size: 16px;
	line-height: 2.5;
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #666;
	border-top: 1px solid #d9d9d9;
}

.picker-tool .picker-button:first-child span {
	border-right: 1px solid #d9d9d9;
}

.picker-tool .picker-button:last-child span {
	color: #009f95;
}

.picker-selector {
	font-size: 14px;
	padding: 12px 0;
	text-align: center;
	color: #333;
	border: 1px solid #e4e4e4;
	border-right: none;
	border-left: none;
	background: #fff;
}

.picker-confirm:active, .picker-cancel:active {
	background-color: #eee;
}

.picker-modal-overlap {
	z-index: 80;
	height: 100%;
	-webkit-transition: opacity .45s;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	opacity: 0;
	background: rgba(0, 0, 0, .4);
}
